In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
customer_df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')
display(customer_df.head())

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
categorical_df=customer_df.select_dtypes(include=['object'])
display(categorical_df.head())

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [4]:
categorical_df.isna().sum()/len(categorical_df)

Customer             0.0
State                0.0
Response             0.0
Coverage             0.0
Education            0.0
Effective To Date    0.0
EmploymentStatus     0.0
Gender               0.0
Location Code        0.0
Marital Status       0.0
Policy Type          0.0
Policy               0.0
Renew Offer Type     0.0
Sales Channel        0.0
Vehicle Class        0.0
Vehicle Size         0.0
dtype: float64

In [5]:
for col in categorical_df:
    display(categorical_df[col].unique())

array(['BU79786', 'QZ44356', 'AI49188', ..., 'TD14365', 'UP19263',
       'Y167826'], dtype=object)

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

array(['No', 'Yes'], dtype=object)

array(['Basic', 'Extended', 'Premium'], dtype=object)

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

array(['2/24/11', '1/31/11', '2/19/11', '1/20/11', '2/3/11', '1/25/11',
       '1/18/11', '1/26/11', '2/17/11', '2/21/11', '1/6/11', '2/6/11',
       '1/10/11', '1/17/11', '1/5/11', '2/27/11', '1/14/11', '1/21/11',
       '2/5/11', '1/29/11', '2/28/11', '2/12/11', '2/2/11', '2/7/11',
       '1/22/11', '2/13/11', '1/15/11', '1/8/11', '1/11/11', '1/28/11',
       '2/8/11', '2/23/11', '1/2/11', '2/16/11', '1/27/11', '1/23/11',
       '1/9/11', '2/11/11', '2/4/11', '2/1/11', '2/15/11', '2/26/11',
       '1/16/11', '1/1/11', '2/10/11', '1/24/11', '2/25/11', '1/12/11',
       '2/9/11', '1/19/11', '1/4/11', '2/14/11', '2/20/11', '2/18/11',
       '1/3/11', '1/13/11', '1/30/11', '2/22/11', '1/7/11'], dtype=object)

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

array(['F', 'M'], dtype=object)

array(['Suburban', 'Rural', 'Urban'], dtype=object)

array(['Married', 'Single', 'Divorced'], dtype=object)

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

array(['Medsize', 'Small', 'Large'], dtype=object)

In [6]:
categorical_df.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

In [7]:
categorical_df['Effective To Date']=pd.to_datetime(categorical_df['Effective To Date'])
cat_df=categorical_df.drop(['Effective To Date'], axis=1)
cat_df.dtypes

Customer            object
State               object
Response            object
Coverage            object
Education           object
EmploymentStatus    object
Gender              object
Location Code       object
Marital Status      object
Policy Type         object
Policy              object
Renew Offer Type    object
Sales Channel       object
Vehicle Class       object
Vehicle Size        object
dtype: object

In [8]:
for col in cat_df:
    display(cat_df[col].value_counts())

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

No     7826
Yes    1308
Name: Response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

F    4658
M    4476
Name: Gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: Renew Offer Type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

Outside of the customer id column (which we can drop since it contains a unique indentifier anyways), in the other columns which contain alpha numerical values, the numerical label is important to distinguish them, but we could convert it into categorical ordinal data

In [9]:
cat_df=cat_df.drop('Customer', axis=1)

In [10]:
def clean_offer(x):
    if x.find('1') != -1:
        return int(1)
    elif x.find('2') != -1:
        return int(2)
    elif x.find('3') != -1:
        return int(3)
    elif x.find('4') != -1:
        return int(4)

cat_df['Renew Offer Type']=cat_df['Renew Offer Type'].apply(clean_offer)
cat_df['Renew Offer Type'].value_counts()

1    3752
2    2926
3    1432
4    1024
Name: Renew Offer Type, dtype: int64

I would change education level into an int, since it can be considered categorical ordinal data and combine the values of EmploymentStatus from those who aren't either employed nor unemployed into a single value named 'Other'

In [11]:
cat_df['EmploymentStatus']=np.where(cat_df['EmploymentStatus'].isin(['Medical Leave', 'Disabled', 'Retired']), 'Other', cat_df['EmploymentStatus'])
cat_df['EmploymentStatus'].value_counts()

Employed      5698
Unemployed    2317
Other         1119
Name: EmploymentStatus, dtype: int64

In [12]:
cat_df['Education']=cat_df['Education'].replace({'High School or Below': 1, 'College': 2, 'Bachelor': 3, 'Master': 4, 'Doctor': int(5)})
cat_df['Education'].value_counts()

3    2748
2    2681
1    2622
4     741
5     342
Name: Education, dtype: int64

In [13]:
display(cat_df['Policy'].value_counts())
display(cat_df['Policy Type'].value_counts())

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

I'm not aware of what L1, L2 and L3 mean, however I can easily determine that the type of policy (Personal, Corporate or Special) seems to be more important than the extra label they add, so I'm choosing the drop this column

In [14]:
cat_df=cat_df.drop('Policy', axis=1)
cat_df.head()

,State,Response,Coverage,Education,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,Washington,No,Basic,3,Employed,F,Suburban,Married,Corporate Auto,1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,3,Unemployed,F,Suburban,Single,Personal Auto,3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,3,Employed,F,Suburban,Married,Personal Auto,1,Agent,Two-Door Car,Medsize
3,California,No,Basic,3,Unemployed,M,Suburban,Married,Corporate Auto,1,Call Center,SUV,Medsize
4,Washington,No,Basic,3,Employed,M,Rural,Single,Personal Auto,1,Agent,Four-Door Car,Medsize

In [15]:
for col in cat_df:
    display(cat_df[col].value_counts())

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

No     7826
Yes    1308
Name: Response, dtype: int64

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

3    2748
2    2681
1    2622
4     741
5     342
Name: Education, dtype: int64

Employed      5698
Unemployed    2317
Other         1119
Name: EmploymentStatus, dtype: int64

F    4658
M    4476
Name: Gender, dtype: int64

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

1    3752
2    2926
3    1432
4    1024
Name: Renew Offer Type, dtype: int64

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

The only other change I would consider to ease on the encoding needed would be to encopass Sports and Luxury class vehicles into a category named 'Other

In [16]:
cat_df['Vehicle Class']=np.where(cat_df['Vehicle Class'].isin(['Sports Car', 'Luxury SUV', 'Luxury Car']), 'Other', cat_df['Vehicle Class'])
cat_df['Vehicle Class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Other             831
Name: Vehicle Class, dtype: int64

Combining other values for other columns further could lose too much information, so this much should be a good first iteration